/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
*{
	text-align: center;
}
nav{
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}
.topSectionClass h1{
	font-size: 80px;
	width: 20%;
}
.topSectionClass div{
	display: flex;
	justify-content: space-around;
}
.topSectionClass{
	display: flex;
	justify-content: center;
}
.button{
	display: flex;
	align-items: center;
	height: 30px;
	width: 150px;
	margin-bottom: 100px;
}
.middleSectionClass div{
	display: flex;
	justify-content: space-evenly;
} 
.div{
	display: flex;
	flex-direction: column;
}
.div1{
	flex-direction: column;
}
.div2{
	flex-direction: column;
}
.bottomSectionClass div{
	display: flex;
	justify-content: space-evenly;
}
.div3{
	flex-direction: column;
}
.div4{
	flex-direction: column;
}
.div5{
	flex-direction: column;
}
.orgDiv{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin: 50px 0 50px 0;
}
.contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
/* responsive design code */

@media (max-width: 800px){
	.headerImg{
		display: none;
	}
	.logo{
		margin-bottom: 7%;
		margin-right: 5%;
	} 
	nav{
		display: block;
	}
	a{
		margin-right: 3%;
		margin-left: 3%;
	}
	.topSectionClass div{
		margin-left: 20%;
		margin-right: 0%;
	}
}
@media (max-width: 500px){
	nav{
		display: flex;
		flex-direction: column-reverse;
	}
	.logo{
		width: 40%;
		margin-left: 30%;
	}
	
}